*

{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body::-webkit-scrollbar{
  display: none;
}
html{
  scroll-behavior: smooth;
}
body{
    background-image: url(sonu2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
background-color: rgb(0, 0, 0);
    color: gainsboro;
}

.header{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    position: relative;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    animation: slide 1s ease-in-out 1;
}
      
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slidetop 1s ease forwards;

}
.navbar a:hover{
    color: #0ef;

}
.homw{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

  
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;

}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;

    animation: slide 1s ease-in-out 1;

    
}
.home-content h3 span :nth-of-type(2){
    margin-bottom: 30px;
    
}
.home-content h3 span{
    color: cyan;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;

}
.home-content p{
    font-size: 20px;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: leeft 2s ease forwards;

    
}
.home-sci a:hover{
background: #0ef;
color: #081b29;
box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: up 2s ease forwards;
    transition: all ease 0.3s;

}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px  cyan, 0 0 200px cyan;
}
@keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
   opacity: 0.2;
    }
    50% {
      transform: translateX(-50%);
      opacity: 0.5;
    }
   
    
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  

@keyframes slidetop {
    0% {
      transform: translateY(-100px);
      opacity: 0;
 
    }
    50% {
      transform: translateY(-50px);
      opacity: 0.5;
 
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes down {
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }
     opacity: 0.2;
      }
      50% {
        transform: translateX(-50%);
        opacity: 0.5;
      }
     
      
      100% {
        transform: translateX(0);
        opacity: 1;
      }
      @keyframes up {
        0% {
            transform: translateY(100px);
            opacity: 0;
          }
         opacity: 0.2;
          }
          50% {
            transform: translateY(50px);
            opacity: 0.5;
          }
         
          
          100% {
            transform: translateY(0);
            opacity: 1;
          }
          @keyframes leeft {
            0% {
              transform: translateX(100px);
              opacity: 0;
            }
           opacity: 0.2;
            }
            
            100% {
              transform: translateX(0);
              opacity: 1;
            }
hr{
    height: 4px;
    border: 0;
    background-color: rgba(0, 255, 255, 0.701);
margin: 0px 100px;

}
.about{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Center content vertically */
    
  }
.flip-card {
    animation: leeft 2s ease forwards;
    width: 400px;
    height: 500px;
    transition: transform 0.5s ease;
    position: relative;
    perspective: 1000px; /* Create 3D perspective */
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /* Smooth transition on flip */
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Flip on hover */
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide backface during flip */
  }
  
  .flip-card-front {
  
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flip-card-back {
    background-color:  rgba(18, 17, 17, 0.721);
    transform: rotateY(180deg); /* Start flipped initially */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  }
  
  .flip-card img {
    max-width: 100%;
  
  }
  
  .flip-card p {
    padding: 10px;
    font-size: 14px;
    font-family:cursive;
    color: #0ef;
    text-align: left;
  }
  .flip-card h1{
    color: rgb(77, 84, 175);
    text-align: center;
    position: absolute;
    top: 0;
    font-style: italic;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: cursive;
  }
  .flip-card h2{ 
    font-style: italic;
    text-align: center;
    color:rgb(77, 84, 175);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-size: 24px;
font-family: cursive;}
.highlight{
  font-style: italic;
  color:rgb(237, 120, 120) ;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}
.flip-button i{

  transform: translate(-50%, -50%);
  position: absolute;
  top: 32%;
  left: 27%;
  border-radius: 80px;
  height: 20px;
  width: 10px;
}
.flip-button {
display: flex;
position: relative;
justify-content: center;
align-items: center;
  border-radius: 80px;
  height: 20px;
  width: 10px;
      background-color: transparent;
      color: white;
      padding: 55px;
      border: none;
      cursor: pointer;
     font-size: 60px;
     margin-right: 10px;
     animation: slide 1s ease-in-out 1;
     transition: all ease 0.3s;
    }
    .flip-button:hover{
    
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px  cyan, 0 0 200px cyan;
  }
    .edu{
      margin-left: 140px;
      position: relative;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    }
  
    .education-section {
      margin: 20px;
      padding: 20px ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    table {
      
      width: 80%; /* Reduced width */
      height: 450px; /* Increased height */
      border-collapse: separate;
      border-spacing: 5px;
      border: 10px solid rgb(75, 24, 202);
      border-radius:10px ;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 4px solid white;
      border-right: 4px solid white; 
      font-family: cursive;
      font-size: large;
    color:#9aede5;
    font-size: larger;
    }
    
    th {
      text-align: center;
      font-weight: bold;
      background-color:transparent;
      border-bottom: 4px solid rgb(255, 255, 255); 
      color: #0ef;
      
    }
    td:last-child {
      border-right: none;
    }
    th:last-child {
      border-right: none;
    }
 
.scroll-button {
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 0.7;
  height: 33px;
  width: 33px;
}

.scroll-button:hover {
  opacity: 1;
}

#skillsection{

  width: 100vw;
  height: 140vh

}
#skillsection h1{
  margin-left: 140px;
      position: relative;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    margin-bottom: 50px;
}
.skills{
  width: 100%;
  display: flex;
  justify-content: space-around;

  

}
.webd{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  
}
.skill h3{
  width: 120px;
}
.skills h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.skill{

  display: flex;
  align-items: center;
  padding: 10px 0px;

}
.skill:hover{
  transform:scale(1.2);
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #0ef);
}
.bar{
  width: 200px;
  height: 14px;
  background-color: white;
  border-radius: 10px;
}
.fill{
height: 10px;
background-color: red;
border-radius: 10px;
margin-top:2px ;
margin-left: 2px;
}
.html{
  background-color:indianred;
  width: 190px;
}
.java{
  background-color: indianred;
  width: 190px;
}
.mysql{
  background-color: indianred;
  width: 195px;
}
.css{
  background-color: khaki;
  width: 196px;
}
.js{
  background-color: mediumslateblue;
  width: 180px;
}.bs{
  background-color: turquoise;
  width: 190px;
}.react{
  background-color: lightgreen;
  width: 184px;
}
.c{
  background-color: khaki;
  width: 188px;
}
.cplus{
  background-color: mediumslateblue;
  width: 196px;
}.py{
  background-color: turquoise;
  width: 179px;
}.ruby{
  background-color: lightgreen;
  width: 150px;
}
.lite{
  background-color: khaki;
  width: 170px;
}
.ibm{
  background-color: mediumslateblue;
  width: 172px;
}.post{
  background-color: turquoise;
  width: 165px;
}.mongo{
  background-color: lightgreen;
  width: 175px;
}














.ski h2{
  margin-left: 144px;
  position: relative;
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slide 1s ease-in-out 1;
}









.projects {

  padding: 20px;
  background-color: transparent;
}
.project-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.project-card {
  width: 80vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 238, 255, 0.409);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(23, 7, 74, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px cyan,
    0 0 20px cyan, 0 0 30px cyan,
    0 0 50px  cyan, 0 0 100px cyan;
}
.project-card img {
  margin-top: 20px;
  max-width: 70vh;
  max-height: 50vh;
  border-radius: 10px;
}

.project-description {
  padding: 20px;
  text-align: center;
  font-family: cursive;
  font-size: large;
  font-style: italic;
}

.read-more {
  margin-top: 15px;
  width: 15vh;
  height: 6vh;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size:medium;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #297fb981;
  color: black;
}

.contact {
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: space-between;

}
.contact-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-left: 15%;
}
.contact-details h1{
  margin-top: -20px;
  position: relative;
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.social{

width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.social h2{
white-space: nowrap;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: -36px;
}
.social-icon{
  display: flex;

}
.social-icon a img{
  width: 35px;

}
.social-icon img{
  margin: 0px 10px;
}
.social-icon img:hover{

transform: scale(1.5);
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
} 

.nontech{
  width: 200px;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  animation: up 2s ease forwards;
  transition: all ease 0.3s;
  cursor: pointer;
}
.nontech:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px  cyan, 0 0 200px cyan;}

  .skillrow{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
 





    
  